@using Microsoft.AspNetCore.Http.Extensions
@model Post

@{
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<div>
    <span>@Model.Author - @Model.LastEditTime.ToLongDateString()</span>
</div>
<hr />
<div class="row">
    <div class="col-md-9">
        <p style="float: left; margin-right: 10px; margin-top: 20px;">
            <img class="media-object" src="@Model.Image" style="max-width: 300px; max-height: 250px;">
        </p>

        @Html.Raw(Model.Content)
    </div>

</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>
<hr />
<section>
    <h3 class="text-primary">@Model.Comments.Count Comments</h3>
    <div id="commentSection"></div>
</section>
<section>
    <h3 class="text-primary">Leave comment</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-9" style="text-align: right">
                <form asp-action="AddComment" asp-controller="Home" method="post">
                    <textarea name="content" class="form-control" style="height: 250px;"></textarea>
                    <input type="hidden" class="form-control" value="@Model.Id" name="postId" />
                    <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Send</button>
                </form>
            </div>
        </div>
    }
    else
    {
        var url = Context.Request.GetDisplayUrl();
        
        <p>You need to be @Html.ActionLink("logged in", "Login", "Account", new { prevUrl = url },null) to comment</p>
    }
</section>

@section Scripts
    {
    <script src="~/js/Home/Details.js"></script>
    <script>
        createCommentTemplate('@Html.Raw(Model.Id)');
    </script>
}
