@using Blog.Controllers
@model HomeViewModel

@{
    Layout = "_Layout";
}
<div class="col-md-9">
  
    @foreach (var post in @Model.Posts)
    {
        <div class="well" style="@(Model.Posts.IndexOf(post) == 0 ? "margin-top: 20px;" : null)">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="@post.Image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@Html.ActionLink(@post.Title, "Details", new {id = post.Id})</h4>
                    <p class="text-right">By @post.Author</p>
                    <p>@string.Join(' ', @post.Content.Split().Take(50))
                        @Html.ActionLink("...more", "Details", new {id = post.Id})
                    </p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> @post.LastEditTime.ToShortDateString() </span></li>
                        <li>|</li>
                        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                        <li>|</li>
                        <li>
                            @for (int j = 0; j < @post.Stars; j++)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }
                            @for (int j = 0; j < 5 - @post.Stars; j++)
                            {
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                        </li>
                    </ul>
                    <div class="media-bottom">
                        @foreach (var tag in @post.PostTags)
                        {
                            <span class=" label label-info">@tag.Tag.Name</span>
                        }
                        @using (Html.BeginForm("Delete", "Home", new {@post.Id}, FormMethod.Post, null, new {style = "display:inline;"}))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger"
                                    style="float: right">Delete</button>
                        }

                        @Html.ActionLink("Edit", "Edit", new {id = post.Id},
                            new {@class = "btn btn-primary", @style = "float:right;margin-right:10px;"})
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<div class="col-md-3">   
    @await Html.PartialAsync("_NavigationPanel", @Model.Tags)
</div>
