@using Blog.Models.ViewModels

@model Blog.Models.ViewModels.NavigationPanelViewModel

@{
    var firstHalfOfTags = new List<TagViewModel>();
    var secondHalfOfTags = new List<TagViewModel>();
    for (var i = 0; i < @Model.TagViewModels.Count; i++)
    {
        if (i < @Model.TagViewModels.Count / 2)
        {
            firstHalfOfTags.Add(Model.TagViewModels[i]);
        }
        else
        {
            secondHalfOfTags.Add(Model.TagViewModels[i]);
        }
    }
}
<div class="col-md-3" role="complementary" id="navWrapper">

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admins"))
    {
        <div class="well text-center" style="width: 250px;">
            <h4>
                <span class="glyphicon glyphicon-pencil" style="margin-right: 5px;"></span>
                Create new post
            </h4>
            @Html.ActionLink("Create", "Create", "Home", null, new { @class = "btn btn-primary" })
        </div>
    }
    <form method="get" asp-controller="Home" asp-action="Index">
        <div class="well text-center" style="width: 250px;">
            <h4>
                <span class="glyphicon glyphicon-search" style="margin-right: 5px;"></span>
                Blog Search...
            </h4>
            <div class="input-group">
                <input type="text" asp-for="SearchWord" class="form-control">

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i>
                            <span class="glyphicon glyphicon-search"></span>
                        </i>
                    </button>
                </span>
            </div>
        </div>
    </form>

    <div class="well text-center" style="width: 250px;">
        <h4>
            <span class="glyphicon glyphicon-tags" style="margin-right: 5px;"></span>
            Popular Tags:
        </h4>

        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    @foreach (var tag in firstHalfOfTags)
                    {
                        <li>
                            <span class="@(tag.IsSelected ? "badge btn activeTag" : "badge btn")" id="@tag.Tag.Id">@tag.Tag.Name</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    @foreach (var tag in secondHalfOfTags)
                    {
                        <li>
                            <span class="@(tag.IsSelected ? "badge btn activeTag" : "badge btn")" id="@tag.Tag.Id">@tag.Tag.Name</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" onclick="beforeSubmitTag()">Search</button>
        </div>
    </div>

</div>